*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
  /* background-image: linear-gradient( to top right, green, yellow,yellow,red); */
  background-color: 	rgb(176, 232, 251);
}
#Container{
    width:100%;
    height: 500px;
    background-color:#0072ff;
    
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    

    
}
#heading{
    margin-left: 10px;
    font-style: italic;
    color: white;
}
#option{
    width: 170px;
    height: 30px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
}
#text{
    width: 80%;
    border: 0.5px solid black;
     padding: 20px;
     margin-top: 20px;
     margin-left: 10%;
     color:black;
     font-style: italic;
     font-weight: bold;
     background-color:ghostwhite;
     color:red;
     font-size: 20px;
}
p{
    word-spacing: 5px;
    font-size: 18px;
}
#typing{
    width: 100%;
    height: 60px;
    padding: 20px;
    
}
#typing-area{
    width: 80%;
    margin-top: 10px;
     margin-left: 10%;
    

}
#start{
    width: 120px;
    text-align: center;
    height: 30px;
    margin-left: 40%;
    background-color: green;
    border: none;
    margin-top: 10px;
    color: white;

}
.time-interval{
    width:110px;
    height: 35px;
    background-color:#00c6ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
}
.time-interval:hover{
  background-color: burlywood;
}
#time-select{
    width:55%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
  #choose{
   
    font-style: italic;
    margin-top: 12px;
  }  

#time{
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    height: 150px;
    background-color: #ffc0cb;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
#start-timer{
    width: 80%;
    background-color:white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    margin-left: 10%;
    margin-top: 20px;
    
}
#sec{
    margin-left: 10px;
}
.correct {
    color: green;
    font-size: 30px;
  }

  .incorrect {
    color: red;
    font-size: 18px;
  }
  #result{
    width: 80%;
    margin-left: 30%;
    margin-top: 200px;
    display: none;
  }
  #type-result{
    margin-left: 12%;
  }
  table{
    margin-top: 15px;
  }
  table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
  }
  td,th{
    width: 200px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    color: white;
  }
  #again{
    margin-top: 10px;
    margin-left: 20%;
    width: 100px;
    height: 28px;
    background-color: green;
    border: none;
    color: white;
    height: 30px;
  }

/* ======================================================for tabe */
  @media screen and (max-width: 900px) {
    .time-interval{
      width:20%;
      
  }
  
  #time-select{
      width:100%;
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      
  }
  #time{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    
  }
     
    
  }





  /* ======================================================for mobile */

  @media screen and (max-width: 480px) {
    .time-interval{
      width:20%;
      font-size: 10px;
      
  }
  
  #time-select{
      width:100%;
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      
  }
  #time{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
    
  }
     
    
  }